i {
  margin-right: 5px;
}

.requiredField {
  color: red;
}

.hidden {
  display: none;
}

.indent {
  margin-left: 1em;
}

.info-box {
  background-color: #f0f0f0;
  padding: 10px;
}

.info-box i {
  color: #0072bc;
  margin-right: 5px;
}

.info-box ul,
.info-box ol {
  margin-bottom: 0;
}

.mobile {
  display: none;
}

/* hr {
  height: 3px;
} */

/* #uncommonMiddle {
  background-color: ;
} */

#submitMessage {
  padding: 1rem 1rem !important;
}

/* override site template styles */
h1 {
  padding-left: 15px !important;
}

/* #footer-wrap {
  top: 20px !important;
  margin-bottom: 20px !important;
} */

/* override bootstrap styles */
.row {
  padding: 0px !important;
  background: none !important;
  border-top: 0px !important;
  margin: auto !important;
}

.dropdown-menu {
  text-align: center !important;
}

.btn-primary {
  background-color: #0072bc !important;
}

.btn-block {
  white-space: normal !important;
}

@media (max-width: 1024px) {
  .mobile {
    display: inline-block;
  }
  .desktop {
    display: none;
  }
}
